.container{
  display: inline-flex;
  flex:1 1 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  
}
.icon{
  padding: 0.8rem;
}
.search-bar{
  border: 0;
  flex: 1;
}
.search-btn{
  color: white;
  background-color: #0f4a8a;
  border: 0;
  padding:0.8rem;
  border-left: 8px;
}